@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: #232c33;
}

.navigation {
    position: relative;
    height: 700px;
    width: 80px;
    background: #2b343b;
    box-shadow: 10px 0 0 #4187f6;
    border-left: 10px solid #2b343b;
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation.active {
    width: 280px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li:hover {
    background: #4187f6;
}

.navigation ul li.active {
    background: #4187f6;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom-right-radius: 50%;
    box-shadow: 15px 15px 0 #4187f6;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-right-radius: 50%;
    box-shadow: 15px -15px 0 #4187f6;
}

/* not(:first-child) esta opcion es para no hacer cambio al primero */

.navigation ul li:hover::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom-right-radius: 50%;
    box-shadow: 15px 15px 0 #4187f6;
}

.navigation ul li:hover::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-right-radius: 50%;
    box-shadow: 15px -15px 0 #4187f6;

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.toggle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #232c33;
    border-radius: 50%;
    box-shadow: 5xp 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #4187f6;
    transform: translateY(-5px);
    transition: 1s;
}

.toggle::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #4187f6;
    transform: translateY(5px);
    transition: 1s;
}

.navigation.active .toggle::before {
    transform: translateY(0px) rotate(-405deg);
}

.navigation.active .toggle::after {
    transform: translateY(0px) rotate(225deg);
}